<p style="color: green"><%= notice %></p>

<%#= render @book %>

<div id="books">
  <table>
    <tr>
      <td>Title</td>
      <td><%= @book.title %></td>
    </tr>
    <tr>
      <td>Publisher</td>
      <td><%= @book.publisher %></td>
    </tr>
    <tr>
      <td>Publication Year</td>
      <td><%= @book.publication_year %></td>
    </tr>
    <tr>
      <td>Author</td>
      <td><%= @book.author.name %></td>
    </tr>
  </table>
</div>

<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>
